$blue: #3B4CCA;
$gray: #7a7a7a;
$red: #CC0000;
$yellow: #FFDE00;

@import "elements/grid";
@import "elements/box";
@import "components/navbar";
@import "components/list";
@import "components/card";

#app {
  display: flex;
  width: 100%;
  min-height: 100%;

  .block {
    text-align: center;

    .logo {
      width: 60%;
    }
  }

  .layout {
    display: flex;
    flex-direction: row;
    min-height: 100%;
  }

  .container {
    max-width: 70%;
    margin: 40px auto;
  }

  .title {
    color: #4a4a4a;
  }
}
